<div id="topic-modal" tabindex="-1" aria-hidden="true" class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden antialiased antialiased md:inset-0">
    <div class="relative max-h-full w-full max-w-xl p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Craete a Topic</h3>
          <button type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" (click)="toggleModal()" >
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form [formGroup]="form" (ngSubmit)="onAddTopic()" class="p-4 md:p-5">
          <div class="mb-4 grid grid-cols-2 gap-4">
            <div class="col-span-2">
              <label for="question" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Topic Name <span class="text-gray-500 dark:text-gray-400">(2-20 characters)</span></label>
              <input formControlName="topic_name" id="topic_name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required="">
            </div>
            <div class="col-span-2">
                <label for="category" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">What kind of topic?</label>
                <select formControlName="category" id="category" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500">
                    <option value="architecture">Architecture</option>
                    <option value="art">Art</option>
                    <option value="astronomy">Astronomy</option>
                    <option value="biology">Biology</option>
                    <option value="business">Business</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="cinema">Cinema</option>
                    <option value="comedy">Comedy</option>
                    <option value="economics">Economics</option>
                    <option value="engineering">Engineering</option>
                    <option value="finance">Finance</option>
                    <option value="geography">Geography</option>
                    <option value="history">History</option>
                    <option value="law">Law</option>
                    <option value="literature">Literature</option>
                    <option value="music">Music</option>
                    <option value="personal">Personal</option>
                    <option value="politics">Politics</option>
                    <option value="science">Science</option>
                    <option value="socialmedia">Social Media</option>
                    <option value="sport">Sport</option>
                    <option value="technology">Technology</option>                  
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-span-2">
              <label for="description" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Describe the topic <span class="text-gray-500 dark:text-gray-400">(20-1000 characters)</span></label>
              <textarea formControlName="description" id="description" rows="2" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required=""></textarea>
            </div>
            <div class="col-span-2">
              <div class="flex items-center">
                <input id="link-checkbox" type="checkbox" value="" class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />
                <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-400">I have read and agree with the <a href="#" class="text-primary-600 hover:underline dark:text-primary-500">terms and conditions</a>.</label>
              </div>
            </div>
          </div>
          <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5">
            <button type="submit" class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create Topic</button>
            <button type="button" (click)="toggleModal()" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
