
<app-topic-test-explain *ngIf="showExplanation"
[validate_answer]="valid_answer"
></app-topic-test-explain>

<app-topic-test-question *ngIf="showQuestions"
[topic_test]="topic_test"
(submitAnswerEmitter)="validateAnswer($event)"
(nextQuestionEmitter)="nextQuestion()"
(finishTestEmitter)="finishTest()"
></app-topic-test-question>

<app-topic-test-result *ngIf="showResults"
[topic_test_result]="topic_test_result">
</app-topic-test-result>


<section class="bg-white dark:bg-gray-900" *ngIf="noQuestionsFound">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">No questions found for this topic 🙁</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, no questions have been added to this topic yet!</p>
            <a href="/" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">Back to Topics</a>
        </div>   
    </div>
</section>

